{% extends 'base.html' %}

{% block content %}

    {% include 'inc/_showcase.html' %}

    {% include 'inc/_breadcrumbs.html' %}

    <section id="dashboard" class="py-4">
        <div class="container">
        <div class="row">
            <div class="col-md-12">
            <h2>Welcome {{ user.first_name | capfirst }}</h2>
            <p>Here are the property listings that you have inquired about</p>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Property</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for contact in user_contacts %}
                        <tr>
                            <td>{{ contact.id }}</td>
                            <td>{{ contact.listing }}</td>
                            <td>
                                <a class="btn btn-light" href="{{ contact.listing.get_absolute_url }}">View Listing</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
        </div>
    </section>
{% endblock %}
