<section id="bc" class="mt-3">
    <div class="container">
        <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <i class="fas fa-home"></i> <a href="{% url 'index' %}">Home</a>
            </li>
            {% for breadcrumb in breadcrumbs %}
                <li class="breadcrumb-item">
                    <a href="{{ breadcrumb.url }}">{{ breadcrumb.title }}</a>
                </li>
            {% endfor %}
            <li class="breadcrumb-item active"> {{ title }}</li>
        </ol>
        </nav>
    </div>
</section>
